<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488489551476-fov661lrkjpcnkc55pd33eumi0gup4df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488489551476-fov661lrkjpcnkc55pd33eumi0gup4df</string>
	<key>API_KEY</key>
	<string>AIzaSyBE5WIoInVdEJGaPXzF0EiX7IlPVBVypxM</string>
	<key>GCM_SENDER_ID</key>
	<string>488489551476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.runetsoft.gisogsGreenspacesapp</string>
	<key>PROJECT_ID</key>
	<string>gis-greenspaces</string>
	<key>STORAGE_BUCKET</key>
	<string>gis-greenspaces.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488489551476:ios:16824490fb7e06852eb321</string>
</dict>
</plist>